@media screen and (min-width: 90em) {
  .container {
    max-width: 62rem;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 20px;
  }

  .infobar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100% / 5);
  }

  .infobar-inner {
    position: absolute;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
  }

  .container {
    max-width: 46rem;
    position: relative;
    margin-left: calc(calc(100% / 5) + 3.6rem);
  }
}

@media screen and (min-width: 44.374em) {
  .container {
    max-width: 42rem;
  }
}

html {
  font-family: "Cantarell", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.44;
  margin: 0;
  word-wrap: break-word;
}

main {
  flex: 1 0 auto;
}

a {
  background: white;
  color: #3584e4;
}

a:visited,
a:link {
  color: #1c71d8;
}

a:hover {
  background: #3584e4;
  color: white;
}

p {
  max-width: 46rem;
}

.infobar {
  background-color: #f6f5f4;
  color: #241f31;
}

.infobar a {
  color: #241f31;
  background: transparent;
  text-decoration: none;
}

.infobar-inner {
  max-width: 38rem;
  margin: 0 auto;
  padding: 1rem;
}

.container {
  margin: 1.44rem auto;
}

.trivia {
  border-right: 1px solid #62A0EA;
  border-top: 1px solid #62A0EA;
  border-bottom: 1px solid #62A0EA;
  border-left: 5px solid #62A0EA;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.85rem;
}

.trivia h3 {
  color: #1C71D8;
}
